/* Import Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noticia+Text&family=Playfair+Display&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:wght@500;700;900&family=Satisfy&family=Shadows+Into+Light&family=Shadows+Into+Light+Two&display=swap');

/* CSS Variables */

/* The Root (Day Mode) */
:root {
    /* Base */
    --base-color: white;
    --text-color: #031406;

    /* Buttons */
    /* --button-background: #031406; */
    --button-background: #000000;
    --button-text: white;

    /* App State Colors */
    --app-state-background: #74AEDC;
    --app-state-trim: #000000;

    /* Form Colors */
    --form-background: #74AEDC;
    --form-trim: #000000;

    /* Inputs */
    --input-background: #D9D9D9;
    --input-trim: #000000;

    /* Trims */
    /* --trim-color: #031406; */

    /* Day/Nite */
    --theme-switch-background: #74addc53;
    /* --theme-switch-background: #D9D9D9; */
}

/* Darkmode (Nite Mode) */
.darkmode {
    /* Base */
    --base-color: #000000;
    --text-color: white;

    /* Buttons */
    --button-background: #74AEDC;
    --button-text: white;

    /* App State Colors */
    --app-state-background: #000000;
    --app-state-trim: #74AEDC;

    /* Form Colors */
    --form-background: #000000;
    --form-trim: #74AEDC;

    /* Inputs */
    --input-background: #000000;
    --input-trim: #74AEDC;

    /* Trim */
    /* --trim-color:#3A603A; */

    /* Day/Nite */
    --theme-switch-background: #74addc5a;
}


/* Mobile */
@media screen and (max-width: 800px) {
    * {
        margin: 0;
        padding: 0;
    }

    /* body {
        height: 100vh;
    } */

    .container {
        height: 100vh;
        background-color: var(--base-color);
        color: var(--text-color);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: 'Poppins';
        gap: 2em;
        width: 100%;
    }

    /* NavBar */
    .main_nav {
        display: flex;
        justify-content: space-between;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: blue;
    }

     /* Menu Button Position */
     #menu_button {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Hamburger whole div Sizing */
    #menu_button .burger {
        height: 40px;
        /* height: 70px; */
        width: 40px;
        /* width: 70px; */
    }

    /* Burger menu styling */
    #menu_button {
        margin: 0 2em 2em 2em;
        background-color: var(--base-color);
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        width: 60px;
        padding: 0;
        /* border-radius: 50%; */
        /* Sets the Theme Switch button to top right corner */
        /* position: fixed;
        top: 20px;
        right: 10px; */
        cursor: pointer;
    }

    /* Burger Order */

    /* Turn off last img for day mode */
    .main_nav .burger #menu_button img:last-child{
        display: none;
    }

    /* Invert for nite mode */
    .darkmode .main_nav .burger #menu_button img:first-child {
        display: none;
    }

    /* Make Last child visible in nite mode */
    .darkmode .main_nav .burger #menu_button img:last-child {
        display: block;
    }

     /* Theme Switch Div */
     #theme_switch {
        margin: 0 2em 2em 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        width: 100px;
        padding: 0;
        border-radius: 50%;
        border: none;
        background-color: var(--theme-switch-backgrd);
        /* Sets the Theme Switch button to top right corner */
        /* position: fixed;
        top: 20px;
        right: 10px; */
        cursor: pointer;
    }

   .day_nite {
        width: 100px;
        height: 100px;
    }

    /* Site theme switch img */
    #theme_switch .day_nite_logos img {
        height: 35px;
        width: 35px;
    }

    /* NOW set the order of the IMG in the nite/day button */
    #theme_switch .day_nite_logos img:last-child {
        display: none;
    }

    /* Invert this for nite mode */
    .darkmode #theme_switch .day_nite_logos img:first-child {
        display: none;
    }

    /* Make Last child visible in nite mode */
    .darkmode #theme_switch .day_nite_logos img:last-child {
        display: block;
    }

    /* Header Div */
    .header_div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .8em;
        /* width: 50%; */
    }

    /* Time Card Logo Div */
    .header_logos {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Time Card Logo */
    .time_card_logo {
        width: 15em;
        height: 4em;
    }

     /* Time Card Logo Display order */

    /* NOW set the order of the IMGs in the Logo header */
    .header_logos img:last-child {
        display: none;
    }

    /* Invert this for nite mode */
    .darkmode .header_logos img:first-child {
        display: none;
    }

    /* Make the Last child visible in the nite mode */
    .darkmode .header_logos img:last-child {
        display: block;
    }

     /* App State */
     .app_state {
        background-color: var(--app-state-background);
        border: 2px solid var(--app-state-trim);
        color: white;
        padding: .4em 5em;
        text-align: center;
        font-size: 1.1rem;
        border-radius: 5px;
    }

    /* Form */
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.5em;
        border: 2px solid var(--form-trim);
        background-color: var(--form-background);
        width: 40%;
        padding: 2em 3em;
        border-radius: 5px;
        font-family: 'Poppins';
        font-size: 1.2rem;
    }

    /* Labels */
    label {
        color: var(--text-color);
        font-family: 'Poppins';
        font-size: 1.1rem;
    }

    /* Input Divs */
    .input_div {
        display: flex;
        flex-direction: column;  
        gap: .5em;
        /* width: 100%; */
    }

    /* Dropdown for Login Members */
    .dropdown {
        position: relative;
        display: inline-block;
        width: 100%;
    }

    /* The Dropdown Button (The Select) */
    #dropdown_btn {
        background-color: var(--input-background);
        border: none;
        border: 2px solid var(--button-background);
        border-radius: 5px;
        color: var(--text-color);
        padding: .6em;
        width: 15em;
        cursor: pointer;
        display: flex;
        /* justify-content: left; */
    }

    /* Name List */
    .name_list {
        display: none;
        position: absolute;
        background-color: var(--input-background);
        z-index: 1;
        color: var(--text-color);
        width: 100%;
        font-size: 1.2rem;
    }

    /* Look up how to set colors of select dropdown */
    .name_list.show {
        border: 1px solid var(--input-trim);
    }

    /* Pin Field */
    .pin_field {
        display: flex;
        gap: .7em;
        /* gap: 1.5em; */
        width: 100%;
        /* background-color: blanchedalmond; */
    }

    /* Each Pin Field */
    .pin_put {
        border: 2px solid var(--input-trim);
        background-color: var(--input-background);
        border-radius: 5px;
        height: 2.4em;
        width: 2.2em;
        position: relative;
        font-size: 1rem;
        text-align: center;
        color: var(--text-color);
    }

    /* Remove focus on Input */
    input:focus {
        outline: none;
    }

    /* Clear Pins / Forgot Pin */
    .clear_forget {
        display: flex;
        justify-content: space-between;
    }

    /* Reset the Form Button */
    .reset_button {
        margin: 1em 0 0 0;
        background-color: var(--form-background);
        border: 1px solid var(--text-color);
        border: none;
        border-radius: 5px;
        color: var(--text-color);
        padding: .3em;
        cursor: pointer;
        font-family: 'Poppins';
        font-size: .8rem;
    }

    /* Submit Button */
    .submit {
        width: 100%;
        background-color: var(--button-background);
        color: var(--button-text);
        border: none;
        border-radius: 5px;
        padding: .7em 1em;
        font-weight: bold;
        font-family: 'Poppins';
        cursor: pointer;
        font-size: .9rem;
    }

    /* Create Account */
    .create_acct {
        text-decoration: none;
        color: var(--text-color);
        font-family: 'Poppins';
        font-size: .8rem;
        font-weight: bold;
    }
}